/Day9/youtube_video_data
/Day10/data
/Day12/FBlocation
/Day12/data
/Day13/data
/Day14/data
/Day15/data
/Day15/checkpoints
/Day15/__pycache__
/Day16/checkpoints
/Day16/data
/Day16/__pycache__
/Day17/__pycache__
/Day17/checkpoints
/Day17/data
/Day18/__pycache__
/Day18/checkpoints
/Day18/data
